[user]
	name = David Warde-Farley
	email = wardefar@iro.umontreal.ca

[alias]
	ci = commit -a
	co = checkout
	st = status -a
	praise = blame
	br = branch

[diff]
	color = auto
	rename = copy

[core]
	editor = vim
	excludesfile = .gitignore

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[push]
	default = matching
